
body {
  text-align: center;
  vertical-align: center;
  
}

button {
  height: 40px;
  background-color: darkgray;
  width: 80px;
  border: none;
  color: #405265;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #6586A8;
  color: black;
  border: 2px solid #555555;
  border:none;
}
button:hover {
    background-color: #555555;
    color: white;
}
.button2 {
  background-color: #B3C6DA;
  margin-top: 1.5px;
}

.cal {

  padding: 20px;
  box-shadow:

}

#d_b {
  background-color: lightblue;
}
.cb{
  background-color: rgb(240, 84, 84);
}

#display {
  width: 499px;
  height: 60px;
}
label {
    display: inline-block;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }

  label:hover {
    background-color: #45a049;
  }